{% extends "base.html.twig" %}

{% block body %}

    <ul>
        <li><a href="{{ path('app_calculator_index') }}">Calculadora</a></li>
        <li><a href="{{ path('app_racional_index') }}">Racional</a></li>

    </ul>


{% endblock %}