{% extends '::base.html.twig' %}
{% block title %}{{ parent() }}Index{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('app_usuario_index') }}">Inicio</a></li>


    </ul>
{% endblock %}
